@import 'sass-bootstrap/lib/bootstrap';

@mixin animate($name, $time) {
  -webkit-animation: $name $time ease; /* Safari 4+ */
  -moz-animation:    $name $time ease; /* Fx 5+ */
  animation:         $name $time ease; /* IE 10+ */
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes glow {
	from   {
		background-color: rgb(100,100,100);
		border-color: rgb(100,100,100);
	}
	to { 
		background-color: rgb(255,0,0); 
		border-color: rgb(255,0,0); 
	}
}

@-moz-keyframes glow {
	from   {
		background-color: rgb(100,100,100);
		border-color: rgb(100,100,100);
	}
	to { 
		background-color: rgb(255,0,0); 
		border-color: rgb(255,0,0); 
	}
}

@keyframes glow {
	from   {
		background-color: rgb(100,100,100);
		border-color: rgb(100,100,100);
	}
	to { 
		background-color: rgb(255,0,0); 
		border-color: rgb(255,0,0); 
	}
}


@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot');
	src:url('/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/fonts/icomoon.woff') format('woff'),
		url('/fonts/icomoon.ttf') format('truetype'),
		url('/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

$nickname: #ff0;
$highlight: rgb(100,100,100);
$black: #000;
$white: #fff;

#tweetbox {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 50%;
	top: 50px;
	font: 30px Inconsolata;

	#tweet {
		color: $white;
		width: 500px;
		margin: 0 auto;
		text-align: center;
		background-color: rgba(0,0,0,0.5);
		padding: 10px;
		text-overflow: ellipsis;
		// @include border-radius(20px);

		span {
			color: $nickname;
		}
	}

	#actions {
		display: none;
		position: absolute;
		width: 100%;
		top: 85%;

		ul {
			margin: 0 auto;
			width: 600px;
			text-align: center;
		}

		[data-icon] {
			font-size: 2em;
			display: block;
			width: 100%;
			height: 40px;
			margin: 5px 0;
		}
		
		li {
			list-style-type: none;
			font-size: 20px;
			float: left;
			width: 80px;
			height: 80px;
			border: 10px solid $black;
			background-color: $black;

			&.selected {
				// background-color: rgba(100,100,100,1);
				background-color: $highlight;
				border: 10px solid $highlight;
			}

			&.glow {
				@include animate(glow, 5s);
			}
		}
	}
}

.visible {
	display: block !important;
}

#output {
	font-size: 10px;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #000000 url(/images/loading.gif) center center no-repeat;
	color: $white;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 20px;
	height: 100%;
}

a {
	color: #aaa;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
